# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/
.venv

# Database
db.sqlite3

# Static folder at project root
/static/

# IDE
.idea

# Visual Studio
.vscode/
.history/
*.code-workspace

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/